<div id="mybreadcrumbs">
<ul class="breadcrumbs -4u 3u" >
    <li><span><a  ng-click="changeDivs('chartContainer_1','chartContainer_2','chartContainer_3')">Exercise</a></span></li>
    <li><span><a ng-click="changeDivs('chartContainer_2','chartContainer_1','chartContainer_3')">Workout</a></span></li>
    <li><span><a ng-click="changeDivs('chartContainer_3','chartContainer_2','chartContainer_1')">Calories</a></span></li>

</ul>
</div>
<div id="mycontainer" class="-2u 4u 8u">


<div id="chartContainer_1">
</div>

<div id="chartContainer_2">
</div>

<div id="chartContainer_3">
</div>
</div>







