<!doctype html>
<html lang="en" ng-app="myApp">
  
<head>
    <meta http-equiv="content-type" content="text/html" charset="utf-8">
    <title>Pool App</title>
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,600|Source+Code+Pro"
        rel="stylesheet"
  />

    <script src="js/vendor/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="js/canvasjs.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript" src="js/vendor/skel.min.js"></script>
    <link rel="stylesheet" href="css/app.css" />
    <link rel="stylesheet" href="css/main.css"/>
    <link rel="stylesheet" type="text/css" href="css/angular.css" />
    <link rel="stylesheet" type="text/css" href="css/angular2.css" />
    <link rel="stylesheet" href="css/foundation.css" />
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
</head>
<body>
    <!doctype html>
<html lang="en" ng-app="myApp">
  
<head>
    <meta http-equiv="content-type" content="text/html" charset="utf-8">
    <title>Pool App</title>
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,600|Source+Code+Pro"
        rel="stylesheet"
  />

    <script src="js/vendor/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="js/canvasjs.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript" src="js/vendor/skel.min.js"></script>
    <link rel="stylesheet" href="css/app.css" />
    <link rel="stylesheet" href="css/main.css"/>
    <link rel="stylesheet" type="text/css" href="css/angular.css" />
    <link rel="stylesheet" type="text/css" href="css/angular2.css" />
    <link rel="stylesheet" href="css/foundation.css" />


    <link rel="stylesheet" href="css/jquery-ui.css"/>
    <link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />

    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>




</head>
<body>
    <div class="container">
        <div id="main" ng-app>
            <!-- Header -->
            <div class="row flush header">
                <div id="irish pool logo.jpg"></div>

            </div>
            <nav class="{{active}}">
                <a href="#/app/view1" ng-click="active='home'" class="home">Home</a>
                <a href="#/view2" ng-click="active='partialTwo'" class="partialTwo">Find a Coach</a>
                <a href="#/view3" ng-click="active='partialThree'" class="partialThree">Pool Locations</a>
                <a href="#/view4" ng-click="active='partialFour'" class="partialFour">Statistics</a>
                <a href="#/view5" ng-click="active='partialFive'" class="partialFive">Calendar</a>
                <a href="#/view6" ng-click="active='partialSix'" class="partialSix">Log in</a>
              

               
            </nav>


            <!-- Hero -->
            <section>
                <div ng-view></div>
            </section>

            <div id="loginid" >You have Logged in successfully</div>

            <!-- Footer -->

            <div class="row">
    <div class="-2u 9u">
            <div id="footer">

                <ul>
                    <li class ="ulfooter"><a href="http://www.dublincity.ie/RecreationandCulture/SportsFacilities/LeisureCentres/Locations/markievicz/pages/markieviczleisurecentre.aspx">Markievicz Leisure Centre</a>
               &nbsp;| &nbsp; </li>
                    <li class ="ulfooter"><a href="http://poolandspa.ie/swimming_pool_suppliers/index.htm"> Poolandspa</a> &nbsp;| &nbsp;</li>
                    <li class ="ulfooter"><a href="http://www.grosvenorpools.com/index.html">Grosvenorpools</a></li>
                </ul>
            </div>
        </div>

</div>

        <script src="js/main.js"></script>
        <script src="js/vendor/skel.min.js"></script>
        <script src="js/angular.js"></script>
        <script src="js/angular-route.js"></script>
        <script src="js/app.js"></script>
        <script src="js/services.js"></script>
        <script src="js/controllers.js"></script>
        <script src="js/filters.js"></script>
        <script src="js/directives.js"></script>

        <script src="js/vendor/ui-utils.js"></script>
        <script src="js/googlemap.js"></script>
        <script src="js/location.js"></script>
        <script src="js/angular-sanitize.min.js"></script>





            <!--need for date picker -->
         <script type ="text/javascript" src="js/jquery-ui.js"></script>
            <!-- FlexSlider -->
         <script  src="js/jquery.flexslider.js"></script>
         <script src="js/main2.js"></script>

            <script src="js/angular-flexslider.js"></script>


</body>
</html>
